{{ define "main" }}
    <header>
        <h3 class="section-title">
            {{ if eq .Parent (.GetPage "/") }}
                {{ T "list.section" }}
            {{ else }}
                {{ .Parent.Title }}
            {{ end }}
        </h3>

        <div class="section-card">
            <div class="section-details">
                <h3 class="section-count">{{ T "list.page" (len .Pages) }}</h3>
                <h1 class="section-term">{{ .Title }}</h1>
                {{ with .Params.description }}
                    <h2 class="section-description">{{ . }}</h2>
                {{ end }}
            </div>
    
            {{- $image := partialCached "helper/image" (dict "Context" . "Type" "section") .RelPermalink "section" -}}
            {{ if $image.exists }}
                <div class="section-image">
                    {{ if $image.resource }}
                        {{- $Permalink := $image.resource.RelPermalink -}}
                        {{- $Width := $image.resource.Width -}}
                        {{- $Height := $image.resource.Height -}}
    
                        {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                            {{- $thumbnail := $image.resource.Fill "120x120" -}}
                            {{- $Permalink = $thumbnail.RelPermalink -}}
                            {{- $Width = $thumbnail.Width -}}
                            {{- $Height = $thumbnail.Height -}}
                        {{- end -}}
                        
                        <img src="{{ $Permalink }}" 
                             width="{{ $Width }}"
                             height="{{ $Height }}" 
                             loading="lazy">
                    {{ else }}
                        <img src="{{ $image.permalink }}" loading="lazy" />
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </header>

    {{- $subsections := .Sections -}}
    {{- $pages := .Pages | complement $subsections -}}
    
    {{- if eq (len $pages) 0 -}}
        {{/* Nếu không có bài viết thường, hiển thị các subsection (có thể áp dụng cho taxonomies như categories, tags) */}}
        {{- $pages = $subsections -}}
        {{- $subsections = slice -}}
    {{- end -}}

    {{- with $subsections -}}
        <aside>
            <h2 class="section-title">{{ T "list.subsection" (len $subsections) }}</h2>
            <div class="subsection-list">
                <div class="article-list--tile">
                    {{ range . }}
                        {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "section") }}
                    {{ end }}
                </div>
            </div>
        </aside>
    {{- end -}}
    
    {{/* Phân trang và hiển thị các bài post dạng grid (card) */}}
    {{ $paginator := .Paginate $pages }}
    {{/* Lấy số cột từ tham số cấu hình, mặc định là 3 nếu không có */}}
    {{ $columns := .Site.Params.gridColumns | default 2 }}
    <section class="article-list--grid grid-col-{{ $columns }}">
        {{ range $paginator.Pages }}
            <div class="card">
                {{ partial "article-list/compact" . }}
            </div>
        {{ end }}
    </section>

    {{ partial "pagination.html" . }}

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
